
@{
    ViewData["Title"] = "ViewTestThree";
    Layout = "_Sidebar";
}

<h1>View Test Three</h1>
<p>Only view pass system.</p>
<h4 class="alert alert-info">Though I am test Three,but I come to <span class="text-warning">VIEW TEST ONE</span></h4>

