
@{
    ViewData["Title"] = "ViewTestTwo";
    Layout = "_Sidebar";
}

<h1>View Test Two</h1>
<p>Only view pass system.</p>
<h4 class="alert alert-info">Though I am test two,but I come to <span class="text-warning">VIEW TEST THREE</span></h4>

