
@{
    ViewData["Title"] = "ViewTestOne";
    Layout = "_Sidebar";
}

<h1>View Test One</h1>
<p>Only view pass system.</p>
<h4 class="alert alert-info">Though I am test one,but I come to <span class="text-warning">VIEW TEST TWO</span></h4>

